.col-lg-12 {
  grid-column: span 12;
}
.col-lg-4 {
  grid-column: span 4;
}
.central {
  width: 1180px;
  margin: 2rem auto;
  padding: 1rem;
  box-sizing: border-box;
}
.central-800 {
  width: 800px;
}

.central-600 {
  width: 800px;
  border-radius: 2rem;
  padding: 0;
}

.central.bg .row .card .input-box {
  padding: 3rem 0 2rem;
}

.card-wrap .card-b {
  width: 80% !important;
  box-sizing: content-box;
}
