.col-sm-12 {
  grid-column: span 12;
}
.central {
  width: 728px;
  margin: 2rem auto;
  padding: 1rem;
  box-sizing: border-box;
}
.love_img img {
  width: 100% !important;
}
.central.bg .row .card .input-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.central.bg .row .card .input-box {
  padding: 3rem 0 0;
}

.card-wrap .card-b {
  width: 100% !important;
  box-sizing: border-box;
}
