.central .card {
  margin: 0.5rem 0;
}

.central .title {
  text-align: center;
}

.central .title h1 {
  font-size: 2em;
  font-family: "Noto Serif SC", serif;
  font-weight: 700;
}

.central .moments-texts {
  background: #fff;
  padding: 2rem 0;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 8px 12px #ebedf0;
  border: 1px solid rgba(208, 206, 206, 0.6) !important;
}

.central .moments-texts .top-title {
  font-size: 1.5rem;
  line-height: 4rem;
  font-family: "Noto Serif SC", serif;
  font-weight: 700;
}

.textOneHide {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 4rem;
}

.central .moments-texts .info {
  color: #a1a1a1;
}

.central .moments-texts .info span {
  font-size: 1.2rem;
  font-family: "Noto Serif SC", serif;
}

.central .moments-texts .info i {
  font-style: normal;
  margin: 0 0.3rem;
}

.moments-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
